# OS-specific files
.DS_Store
Thumbs.db
desktop.ini
*.bat
*.exe

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables and secrets
.env
*.key
*.pem

# Logs and temporary files
*.log
logs/
debug.log
nohup.out

# Flask
instance/
*.sqlite3
db.sqlite3

# React Build Files
build/
dist/
coverage/

# Processed data and outputs
# Ignore everything inside data/
data/*

# But allow mappedtopics folder and its contents
!data/mappedtopics/
!data/mappedtopics/**

# But allow .gitkeep files to preserve folder structure
!data/**/.gitkeep


# Bertopic model
scripts/topicmodeling/bertopic/bertopic_model
scripts/topicmodeling/BERTopic/bertopic_model
Experimental2/bertopic_model

